fastapi
uvicorn[standard]
pydantic
python-dotenv
streamlit

pandas
numpy
pyarrow

scikit-learn
xgboost
matplotlib

pulp

langchain
langgraph
langchain-openai
langchain-community
langchain-text-splitters
langchain-chroma
tiktoken
pypdf

ragas
datasets

langfuse
openai

google-cloud-bigquery
google-cloud-storage
google-cloud-aiplatform